body, html{
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("images/back.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table{
margin-top: -30%;
}

h1{
font-family: Arial;
color: white;
font-size: 200%;
text-align: center;
-webkit-text-stroke: 2px #27294F;
}


button{
   height: 30px;
   width: 80px;
   border-radius: 10%;
   margin-top: 10px;
   margin-left: 387px;
}